.explore .loading,
.explore .error {
	margin: auto;
}

.explore .graph {
	position: relative;
	height: 100%;
	width: 100%;
}

.explore .graph .control {
	font-size: 12px;
	padding: 2px 4px 0 4px;
	background: floralwhite;
	border-bottom: 1px solid lightgrey;
	text-align: right;
	color: #666;
}

.explore .graph.selected .control,
.explore .graph.hover .control {
	padding: 0 2px 0 2px;
	border: 2px solid #36454f;
	border-bottom: 1px solid lightgrey;
}

.explore .graph .control span {
	float: left;
}

.explore .graph .control button {
	border: initial;
	background: initial;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	padding-bottom: 0;
}

.explore .graph .control button:hover {
	color: #333;
	text-decoration: underline;
}

.explore .graph .control button:active {
	font-weight: bold;
}

.explore .graph .container {
	position: absolute;
	top: 20px;
	bottom: 0;
	width: 100%;
}

.explore .graph.selected,
.explore .graph.hover {
	box-shadow: inset 0px 0px 0px 2px #36454f;
}
