@font-face {
	font-family: "Go Smallcaps";
	font-weight: normal;
	font-style: normal;
	src: url("gofont/Go-Smallcaps.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: Monaco, monospace;
	background: ghostwhite;
}

body {
	height: 100%;
	margin: 0;
}

header {
	display: flex;
	font-family: "Go Smallcaps";
	background: darkseagreen;
	padding: 8px;
	padding-bottom: 0;
	border-bottom: 1px solid #36454f;
	align-items: center;
}

header a img {
	width: 3ex;
	margin-right: 8px;
	margin-left: 2px;
}

header h1 {
	margin: 0;
}

main {
	position: absolute;
	bottom: 0;
	top: 46px;
	width: 100%;
}

main .empty {
	margin: 0 auto;
	padding: 6em 1em;
	width: 512px;
}

/* CID input */

.cid input {
	font-family: Monaco;
	margin-right: 4px;
	border-width: 2px;
	font-size: inherit;
}

.cid .hash {
	border-style: inset;
	padding: 2px;
	border-radius: 2px;
	width: 46ch;
}

.cid .go {
	padding: 2px 8px;
}
