@font-face {
	font-family: "Go Smallcaps";
	font-weight: normal;
	font-style: normal;
	src: url("gofont/Go-Smallcaps.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: Monaco, monospace;
	background: ghostwhite;
}

body {
	height: 100%;
	margin: 0;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main header {
	display: flex;
	font-family: "Go Smallcaps";
	background: darkseagreen;
	padding: 8px;
	padding-bottom: 0;
	border-bottom: 1px solid #36454f;
	align-items: center;
}

main header a img {
	width: 3ex;
	margin-right: 8px;
	margin-left: 2px;
}

main header h1 {
	margin: 0;
	flex: 1;
}

main .empty {
	margin: 0 auto;
	padding: 6em 1em;
	width: 512px;
}

main .loading,
main .error {
	margin: auto;
}

main header div {
	margin-bottom: 0.25em;
}

main header div label {
	margin-left: 1.3em;
}

main .graph {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

main .graph .control {
	font-size: 12px;
	padding: 2px 4px 0 4px;
	background: floralwhite;
	border-bottom: 1px solid lightgrey;
	text-align: right;
	color: #333;
}

main .graph.selected .control,
main .graph.hover .control {
	padding: 0 2px 0 2px;
	border: 2px solid #36454f;
	border-bottom: 1px solid lightgrey;
}

main .graph .control span {
	float: left;
}

main .graph .control button {
	border: initial;
	background: initial;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
}

main .graph .control button:hover {
	text-decoration: underline;
}

main .graph .control button:active {
	font-weight: bold;
}

main .graph .container {
	flex: 1;
	/* height: calc(100% - 19px); */
}

main .graph.selected,
main .graph.hover {
	box-shadow: inset 0px 0px 0px 2px #36454f;
}

/* CID input */

.cid input {
	font-family: Monaco;
	margin-right: 4px;
	border-width: 2px;
	font-size: inherit;
}

.cid .hash {
	border-style: inset;
	padding: 2px;
	border-radius: 2px;
	width: 46ch;
}

.cid .go {
	padding: 2px 8px;
}
