html {
	height: 100%;
	background: ghostwhite;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex: 1;
}

main .input {
	background-color: lavender;
	border: 1px solid #36454f;
	border-right: none;
	display: flex;
	flex-direction: column;
}

main .input a {
	padding: 0.5em 1em 0.25em 1em;
}

main .input header {
	display: flex;
	padding: 0.25em 1em;
}

main .input header > span {
	flex: 1;
}

main .input header label input {
	user-select: none;
}

main .input textarea {
	resize: none;
	width: 360px;
	height: 400px;
	font-family: monospace;
	padding: 0.5em;
	white-space: pre;
	background-color: aliceblue;
	flex: 1;
}

main .input textarea:focus {
	outline: none;
}

main .rdf-cytoscape {
	flex: 1;
}

main .rdf-cytoscape .error {
	margin: 1em;
}
